<mat-toolbar>
  <h1>{{ title }}</h1>
  <!-- <button mat-button routerLink="/dashboard">Dashboard</button>
  <button mat-button routerLink="/heroes">Heroes</button> -->
  <!-- <app-nav></app-nav> -->
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer #sidenav mode="side" opened="true">
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active"
        >Dashboard</a
      >
      <a mat-list-item routerLink="/heroes" routerLinkActive="active">Heroes</a>
      <a mat-list-item routerLink="/events" routerLinkActive="active">Events</a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
<app-messages></app-messages>
